@import url(../../global.css);

nav {
    background-color: var(--dark-color);
    padding: 1rem 8rem;
}

body {
    background-color: var(--dark-subtle);
}

nav a {
    min-width: 11rem;
}

nav .btn.active {
    color: var(--primary-color) !important;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid white;
}

nav .btn:hover:not(.active) {
    background-color: var(--primary-color);
}

.logout {
    right: 8rem;
    padding: 0.2rem 1.25rem;
    min-width: auto;
}