@import url(../../global.css);

.login-form {
    width: 480px;
    padding: 2rem 7rem;
}

main {
    height: 100vh;
}

.form-input {
    background-color: transparent;
    border: 1px solid #6C757D;
    padding: 0.285rem;
    color: white;
}

.left-panel {
    width: 100%;
    background-color: #0F0F0F;
    display: grid;
    place-items: center;
}

.right-panel {
    width: 100%;
    background-color: #505457;
}

.btn-show-password {
    background-color: transparent;
    color: #989898;
    border-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.btn-show-password:hover {
    background-color:transparent;
}

.btn-show-password:active {
    background-color: transparent!important;
    border-color: transparent !important;
}