
:root {
    --form-color: #dbdbdb;
    --primary-color: #FB7434;
    --dark-color:#131316;
    --text-white:#F4F8FC;
}

*, *::after , *::before {
    box-sizing: border-box;
}

.text-primary-nb {
    color: var(--primary-color);
}

.btn-primary-nb{
    color: var(--text-white);
    background-color: var(--primary-color);
}

.btn-primary-nb:hover{
    color: white;
    background-color:#c9531c;
}

.btn-outline-primary-nb{
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-outline-primary-nb:hover{
    color: white;
    background-color:var(--primary-color);
}

.debug {
    border:1px solid red;
}


::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-thumb {
    background: #a2a2a2; 
    border-radius: 6px;
}

::-webkit-scrollbar-track {
background: transparent;
}


::-webkit-scrollbar:horizontal {
    height: 4px;
  }


/* tooltip */
.tooltip-nb {
    position: relative;
    display: inline-block;
  }
  
.tooltip-nb .tooltiptext {
visibility: hidden;
width: 170px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 5px;
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -60px;
opacity: 0;
transition: opacity 0.3s;
}

.tooltip-nb .tooltiptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

.tooltip-nb:hover .tooltiptext {
visibility: visible;
opacity: 1;
}