@import url(../global.css);

.carousel-item-nbs {
    display: none;
}

.carousel-item-nbs.active {
    display: block;
}

.btn-service {
    color: #A1A4A7;
}

.photo-album {
    background-color: #202122;
}

.btn-service.active {
    color: var(--primary-color);
    border: none;
    border-bottom: 1px solid var(--primary-color);
    border-radius: 0;
}

.btn-service:hover {
    color: var(--primary-color);
}

.btn-service:active {
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-book {
    bottom: 1.325rem;
    right: 1.325rem;
}

.service-container {
    scrollbar-color:orange;
    scrollbar-width: thin;
}